#starry-sky {
  position: fixed; /* Ensure it's fixed behind everything */
  z-index: 1; /* Behind loading screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  canvas {
    display: block;
    background: transparent;
  }
}